/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
body {
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  background-color: #3F4E85;
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.015rem;
  line-height: 1.5;
}

img {
  display: block;
  margin: auto;
}

/* Establish center content alignment with responsive edge width */
header,
.hero,
.background-fade-container,
main,
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.display-container {
  width: 85%;
}

/* Appear */
.appear {
  transition: all 0.8s;
  opacity: 0;
  transform: translateY(40px);
}

/* Added when div with appear class comes in view in the browser */
.appear.inview {
  opacity: 1;
  transform: none;
  transition-delay: 2.5s;
}


/* Navbar styles */
header .display-container{
  display: flex;
  flex-direction: column;
}

.nav-bar,
.nav-dropdown{
  display: flex;
  justify-content: flex-end;
}

.nav-bar-link-container{
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  padding-block: 0.5rem;
}

.nav-links{
  list-style-type: none;
}

.nav-links a{
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
.nav-links a:hover {
  text-decoration: underline solid #6371A3 4px;
  text-underline-offset: 0.3rem;
} 

.menu-btn {
  display: none;
  align-self: flex-end;
  flex-direction: column;
  cursor: pointer;
  padding-block: 0.5rem;
}

.btn-line {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px 0;
  border-radius: 4px;
  transition: transform 0.3s ease;
}

.nav-dropdown {
  width: 100%;
}

.nav-dropdown>.nav-dropdown-link-container{
  display: none;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
}


/* Hero styles */
.hero{
  position: relative;
  margin: 0;
}

.home-hero {
  background: url("/assets/img/edited-river-pic.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 75%;
  margin: 0;
}

.home-hero::before {
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #2E3141;
  mix-blend-mode: soft-light;
  margin: 0;
}
/* https://stackoverflow.com/questions/32641377/how-to-use-mix-blend-mode-but-not-have-it-affect-child-elements */

.hero>svg {
  width: 100%;
  position: absolute;
  display: block;
  bottom: -0.1px;
  right: 0;
  height: 35%;
  margin: 0;
}
/* https://awik.io/diagonal-borders-css-svg/ */

.background-fade-container{
  width:100%;
}

.hero-text {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 5.75rem 0 7rem 0;
}

.heading-white-underline {
  margin: 0 0 0.4rem 0;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  border-bottom: #ffffff 2px solid;
}

p {
  margin: 0;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 0.9rem;
  font-weight: 400;
}

.fade-in{
  opacity: 0;
  animation: 1s forwards fadeIn;
  -webkit-animation: 1s forwards fadeIn;
  -moz-animation: 1s forwards fadeIn;
  -o-animation: 1s forwards fadeIn;
  -ms-animation: 1s forwards fadeIn;
}

.background-fade-in{
  background-color: #2E3141;
  animation: 1s forwards backgroundFadeIn;
  -moz-animation: 1s forwards backgroundFadeIn;
}


.delay-0{
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay: 0s;
  -ms-animation-delay: 0s;
}

.delay-1{
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay: 1s;
  -ms-animation-delay: 1s;
}

.delay-2{
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -o-animation-delay: 2s;
  -ms-animation-delay: 2s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes backgroundFadeIn{
  from {background-color: #2E3141;}
  to {background-color: transparent;}
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes backgroundFadeIn{
  from {background-color: #2E3141;}
  to {background-color: transparent;}
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}



/* Uniform section styles */
section {
  margin-top: 3rem;
}

.section-header {
  margin: 0;
  padding-bottom: 2rem;
  font-size: 1.375rem;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: underline solid #6371A3 2px;
  text-underline-offset: 0.6rem;
}

.section-content {
  margin: 0;
  font-size: 0.875rem;
  font-weight: 300;
}

h3 {
  margin: 0;
  padding: 0 0 0.6rem 0;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: underline solid #6371A3 2px;
  text-underline-offset: 0.4rem;
}

/* About section styles */

.about-section-header-container {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.headshot {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
}

/* Override default section header and section content spacing */
/* This is needed because of the flex box that contains both the 
section headline and the headshot. Adding padding to the section-header
results in it being out of line with the headshot */
.about-section .section-header {
  padding-bottom: 0;
}

.about-section .section-content {
  padding-top: 2rem;
}

/* Skill section styles */

.skills-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1rem;
  /* border: 1px solid red; */
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px orange solid; */
}

.skill-item p {
  margin: 0;
  padding: 0;
  font-size: 0.875rem;
  font-weight: 500;
}

/* Project section styles */
.project-cards-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}

.project-card {
  margin: 0 0 2rem 0;
  padding: 0.75rem;
  width: 100%;
  height: 420px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  background-color: #4C5C96;
}

.project-card-img-container {
  display: flex;
  height: 50%;
  width: 80%;
}

.project-card-img-container>img{
  width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.project-card-description-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
  max-width: 80%;
  padding: 1rem 0;
}

.project-card-description-container h3{
  padding:0;
}

.project-card-skill-container,
.project-links-container {
  display: flex;
  gap: 8px;
}

.skill-tag {
  display: flex;
  width: 4rem;
  height: 1.4rem;
  background: white;
  border-radius: 10px;
}

.skill-tag>p {
  margin: auto;
  color: #4C5C96;
  font-size: 0.7rem;
  font-weight: 600;
}

.project-link-wrapper {
  align-self: flex-start;
  border-radius: 6.25rem;
  border: 1px solid #FFF;
  padding: 0.5rem 0.9rem;
  transition: transform .3s;
}

.project-link-text {
  color: #fff;
  font-size: 0.875rem;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
}

.project-link-wrapper:hover, 
.project-link-wrapper:focus {
  background: #3F4E85 20%;
  transform: scale(1.05)
}

/* Contact styles */

.contact{
  position: relative;
  margin-top: 3rem;
}

.home-contact {
  background: url("/assets/img/Glacier-Natl-Park.jpg") #9f9f9f left 0% top 20% no-repeat;
  background-blend-mode: color-burn;
  background-size: auto 185%;
}

.contact>svg{
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  height: 6rem;
}

.contact .heading-white-underline{
  margin-top: 4rem;
  display: inline-block;
}

.home-contact .section-content{
  margin: 1rem 0 2rem 0;
  font-weight: 600;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

form label {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 0.875rem;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase; 
}

form input,
form textarea {
  display: block;
  width: 100%;
  border-radius: 0.3125rem;
  border: 2px solid #FFF;
  background: none; 
  margin: 0.8rem 0 1.75rem 0;
  color: white;
  padding: 0.5rem;
  font-size: 0.875rem;
  font-family: inherit;
}

.msg-btn{
  margin: 0.8rem 0 3rem 0;
  border-radius: 6.25rem;
  border: 2px solid #FFF; 
  background:none;
  padding: 0.75rem 1.5rem;
  color: #FFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 0.875rem;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}

/* Footer */

footer{
  text-align: center;
  padding: 0.4rem;
}

footer>p{
  font-size: 0.75rem;
  font-weight: 300;
}

footer a{
  color: white;
}

/* Project page */
.project-hero{
  padding-bottom: 2rem;
  background-color: #2E3141;
}

.project-page-img{
  margin-top: 3rem;
  width: 100%;
  height: 60vw;
  border-radius: 5px;
  background-image: url("../assets/img/Recipe-Card.png");
  background-size: cover;
}

.project-section-header{
  margin-bottom: 2rem;
  padding-bottom: 0.6rem;
  text-decoration: none;
  border-bottom: solid #6371A3 2px;
}

.project-section-content{
  margin-bottom: 1rem;
}

.project-contact{
  background-color: #2E3141;
}

.project-contact .section-content{
  margin: 1rem 0 2rem 0;
}

.project-contact-header{
  margin-top: 4rem;
  margin-bottom: 2rem;
  padding-bottom: 0.6rem;
  text-decoration: none;
  border-bottom: solid #6371A3 2px;
}

.project-msg-btn{
  display: flex;
}


.bold{
  font-weight: 600;
}

code {
  background-color: #6371A3;
  color: #fff;
  border-radius: 1px;
  padding: 1px 3px;
  white-space: nowrap;
  font-size: inherit;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
/* Smooth scrolling to a link: https://www.smashingmagazine.com/2021/07/dynamic-header-intersection-observer/ */
   @media (prefers-reduced-motion: no-preference) {
    .scroller {
      scroll-behavior: smooth;
    }
  }

   /* Tablets and smaller, max width of 768px */
   @media (max-width: 768px) {

    /* navbar */

    .nav-bar{
      display: none;
    }
  
    .menu-btn {
      display: flex;
    }
  
    .change .btn-line:nth-child(1) {
      transform: rotate(-45deg) translate(-7px, 6px);
    }
  
    .change .btn-line:nth-child(2) {
      opacity: 0;
    }
  
    .change .btn-line:nth-child(3) {
      transform: rotate(45deg) translate(-6px, -6px);
    }

    /* project cards */
    .project-cards-wrapper{
      display: block;
    }
   }


  